@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900'); /*-----GOOGLE FONT HEADERS*/
@import url('https://fonts.googleapis.com/css?family=Roboto'); /*-----GOOGLE FONT ROBOTO-----*/

.home-default-page {
  padding: 0;
  margin: 0;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
  }

  #main-menu {
    width: 100%;
    height: 80px;
    background: black;
    position:fixed;

    #logo {
      position: absolute;
      width: 160px;
      height: 70px;
      top:5px;
      left: 5px;
      background: url(../images/logo.png) no-repeat center center / contain;
    }

    .menu-items {
      display: inline-block;
      width: calc(100% - 200px);
      position: absolute;
      height: 50px;
      padding: 15px;
      right:0;

      ul {
        width: 100%;
        height: 100%;

        li {
          display: inline-block;
          font-size: 20px;
          font-family: 'Roboto', sans-serif;
          text-align: center;
          float: right;
          color: white;
          padding: 15px 5px;
          
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            transition: all .3s ease;
          }

          a:hover {
            border-bottom: 1px dotted white;
            transform: scale(2.2);
          }

        }
      }
    }

  }

  #home {
    width:100%;
    height: 100vh;
    background: teal;
  }

  #about {
    width:100%;
    height: 100vh;
    background: aqua;
  }

  #portfolio {
    width:100%;
    height: 100vh;
    background: white;
  }

  #contact {
    width: 100%;
    height: 100vh;
    background: #000;
  }
}
